@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-shape-divider-bottom-1713021709 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1713021709 svg {
  position: relative;
  display: block;
  width: calc(143% + 1.3px);
  height: 200px;
}

.custom-shape-divider-bottom-1713021709 .shape-fill {
  fill: #FFFFFF;
}
.mask1 {
  -webkit-mask-image: url('../public/blob(1).svg');
  mask-image: url('../public/blob(1).svg');
  -webkit-mask-size: 65%;
  mask-size: 65%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
}
.mask2 {
  -webkit-mask-image: url('../public/blob(3).svg');
  mask-image: url('../public/blob(3).svg');
  -webkit-mask-size: 40%;
  mask-size: 40%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
}