@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-shape-divider-bottom-1713021709 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1713021709 svg {
  position: relative;
  display: block;
  width: calc(143% + 1.3px);
  height: 200px;
}

.custom-shape-divider-bottom-1713021709 .shape-fill {
  fill: #FFFFFF;
}
.mask1 {
  -webkit-mask-image: url('../public/blob(1).svg');
  mask-image: url('../public/blob(1).svg');
  -webkit-mask-size: 65%;
  mask-size: 65%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
}
.mask2 {
  -webkit-mask-image: url('../public/blob(3).svg');
  mask-image: url('../public/blob(3).svg');
  -webkit-mask-size: 40%;
  mask-size: 40%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
}
.sidebar__wrapper {
  position: relative;
}

.sidebar {
  width: 17rem;
  height: 100%;
  background-color: var(--color-bg);
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
}

.sidebar__top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.sidebar__logo {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  border-radius: 1rem;
}

.sidebar__logo-name {
  font-size: 1.2rem;
  font-weight: 600;
  
}

.sidebar__list {
  list-style: none;
}

.sidebar__link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
 
  padding: 0.8rem 1rem;
  display: flex;
  background-color: var(--color-sidebar-item);
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.sidebar__link--active {
  color: #fff;
  background-color: #690bdc;
}

.sidebar__icon {
  display: inline-block;
  font-size: 1.2rem;
}

.sidebar__name {
  margin-left: 0.5rem;
}

[data-collapse="true"] {
  width: 5.3rem;
}

[data-collapse="true"] .sidebar__name,
[data-collapse="true"] .sidebar__logo-name {
  display: none;
}

.btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: var(--color-bg);
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 2.1rem;
  background: #ffffff;
  color: blueviolet;

}